.movies__wrapper {
  display: grid;
  gap: 16px;
  margin: 16px;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .movies__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  .movies__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
